#banner
    .banner_content
        %h1 Eval-Expert
        %p Your Online Internal Control Software
        %button= link_to "Sign up", new_user_registration_path 

#testimonial
    .wrapper
        %p.quote A Different Approach to Internal Control
    
#callouts
    .callout_inner
        .wrapper
            .callout
                %i.fa.fa-tachometer
                %h2 Assign objectives
                %p Describe your goals and share them with your teams 
            .callout
                %i.fa.fa-cogs
                %h2 Discuss the best fitted practices
                %p Allow your team to discuss the best practices and policies suitable for their organizations, in order to reach the goals you have previously defined
            .callout
                %i.fa.fa-check-square-o
                %h2 Validate and follow up
                %p Decide which best practices should be applied for each organization and follow up the action pan
                
#bottom_cta
    .wrapper
        %h2 Apply Now
        %p Become a new member of EvalExpert community 
        %button= link_to "Click here to register", new_user_registration_path

%footer
    %p &copy; COGIS CopyRight 2015
            
        
