#banner
    .banner_content
        %h1 EvalExpert
        %p Your Online Internal Control Software
        %button= link_to "Sign up", new_user_registration_path 

#testimonial
    .wrapper
        %p.quote The greatest Internal Control Application
        %p.name COGIS
    
#callouts
    .callout_inner
        .wrapper
            .callout
                %i.fa.fa-tachometer
                %h2 Assign objectives to your team
                %p Texte descriptif
            .callout
                %i.fa.fa-cogs
                %h2 Discuss the practices best fitted with your team
                %p Texte descriptif
            .callout
                %i.fa.fa-check-square-o
                %h2 Validate the best practices and follow up action plans
                %p Texte descriptif
                
#bottom_cta
    .wrapper
        %h2 Apply Now
        %p Become a new member of EvalExpert users community 
        %button= link_to "Click here to register", new_user_registration_path

%footer
    %p &copy; COGIS CopyRight 2015
            
        
