.wrapper
    #posts
        - unless @posts.blank?
            - @posts.each do |post|
                .post
                    %h2.title= link_to post.title, post
                    %p.date= time_ago_in_words(post.created_at)
                    %p.by= post.user.email
        - else 
            %h2 Add a Post
            %p You haven't created any posts yet
            %button= link_to "New Post", new_post_path
