#dashboard {
	#notes {
		.note {
			background: $light_beige;
			width: 15%;
			min-height: 50px;
			margin: 1rem 1%;
			padding: 1.1rem 2.5%;
			float: left;
			border-radius: .4rem;
			position: relative;
			.title {
				@include bold_font;
				color: white;
				margin: 0;
				letter-spacing: 1px;
				padding-bottom: 2em;
				font-size: 1rem;
			}
			.date {
				color: white;
				margin: 0;
				letter-spacing: 1px;
				font-size: .75rem;
			}
		}
	}
	#posts {
		background: $light_beige;		
		.post {
			background: $brown;
			width: 30%;
			min-height: 100px;
			margin-left: 2rem;
			margin-right: 2rem;
			padding: 1.1rem 2.5%;
			float: left;
			border-radius: .4rem;
			position: relative;
			.title {
				@include bold_font;
				color: white;
				margin: 0;
				letter-spacing: 1px;
				padding-bottom: 2em;
				font-size: 1.5rem;
			}
			.process {
				// @include bold_font;
				color: $light_beige;
				margin: 0;
				letter-spacing: .3px;
				padding-bottom: 1em;
				font-size: 1rem;
			}
			.date {
				color: white;
				margin: 0;
				letter-spacing: 1px;
				font-size: .8rem;
			}
			.comment_count {
				bottom: .25rem;
				color: $red;
				font-size: .8rem;
				margin-bottom: .7rem;
			}
		}
	}
}
