$red: #A40F37;
$brown: #323232;
$dark_beige: #A8ABA2;
$light_beige: #EDEDED;

@mixin bold_font {
	font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	padding-top: 4.5rem;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper_with_padding {
	width: 80%;
	margin: 0 auto;
	padding: 3.5rem 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

button, .button {
	border: none;
	outline: none;
	color: $light_beige;
	background: $red;
	padding: 1rem 3.5rem;
	border-radius: 1rem;
	a {
		color: $light_beige;
		text-decoration: none;
	}
	&:hover {
		color: white;
		background: $dark_beige;
	}
}

.button {
	color: $light_beige;
	margin: 2rem 0;
}

a {
	color: $light_beige;
	text-decoration: none;
	&:hover {
		color: $red;
		background: $light_beige;
		
	}
}

header {
	background: $light_beige;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1.75rem 0;
	border-bottom: 7px solid $red;
	.header_inner {
		width: 90%;
		margin: 0 auto;
		#logo {
			display: inline-block;
			width: 10rem;
			float: left;
		}
		nav {
			float: right;
			a {
				text-decoration: none;
				color: $light_beige;
				font-size: 1.2rem;
				line-height: 1.5;
				margin-left: 1rem;
				border: none;
				outline: none;
				background: $red;
				padding: 1rem 3.5rem;
				border-radius: 1rem;
				&:hover {
					color: white;
					background: $dark_beige;
				}
			}
		}
	}
}

footer {
	background: $dark_beige;
	width: 100%;
	padding: 2rem 0;
	color: white;
	text-align: center;
	@include bold_font;
	p {
		margin: 0;
		font-size: .1rem;
	}
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 100%;
	margin-bottom: 1rem;
	border: 1px solid $light_beige;
	border-radius: .4rem;
}

input[type="text"], input[type="email"], input[type="password"] {
	height: 40px;
}

textarea {
	min-height: 200px;
}

.panel {
	margin-left: 10px;
	.panel-body {
		background: $light_beige;
		margin-bottom: 10px;
	}
	.panel-heading {
		background: $red;
		color: $light_beige;
	}
}