// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
    width: 60%;
    max-width: 1140px;
    margin: 0 auto;
}

#posts {
    background: white;
    padding: 2em 5%;
    border-radius: .5em;
    .post {
        margin: 1em 0;
        padding: 1em O;
        border-bottom: 1px solid #D1d1d1;
        .title {
            margin: 0;
            color: $dark_gray;
            text-decoration: none;     
            font-weight: 100;
            font-size: 1.25rem;
        }
        .date {
            margin-top: .25rem;
            font-size: 0.9rem;
            color: #B2BAC2;
        }
        .by {
            margin-top: .10rem;
            font-size: 0.8rem;
            color: #B2BAC2;
        }
    }
}

.button {
    color: $dark_gray;
    border: 1px solid $dark_gray;
    padding: .5em 1em;
    border_radius: 0.2em;
    text-decoration: none;
    margin-right: 2;
}

#post_content {
    background: white;
    padding: 2em 5%;
    border-radius: .5em;
    h1 {
        font-weight: 100;
        font-size: 2em;
        color: $dark_gray;
        margin-top: 0;
    }
    p {
        margin-top: 0.9em;
        color: #B2BAC2;
        font-size: 0.9rem;
        font-weight: 100;
        line-height: 1.5em;
    }
    #comments {
        .comment {
            border-bottom: 1px solid #d1d1d1;
            padding-bottom: 1em;
            margin-bottom: 1em;
            .content {
                width: 65%;
                float: left;
            }
            .buttons {
                width: 35%;
                float: left;
                font-size: .8em;
                text-align: right;
                padding-top: 1.5em;
                a {
                    color: $dark_gray;
                    border: 1px solid $blue;
                    padding: .5em 1em;
                    border_radius: 0.2em;
                    text-decoration: none;
                    margin-right: 2%;
                }
            }
            .comment_content {
                margin: 0;
                padding: 0;
                font-color: $dark_gray; 
            }
            .comment_author {
                color: #397CAC;
                margin-top: .5rem;
                font-size: 0.6em;
                font-weight: 700;
            }
        }
        input[type="submit"] {
            background: #397CAC;
            border: none;
            color: white;
            font-weight: 100;
            padding: .5em 1em;
            border-radius: .2em;
            
        }
        textarea {
            width: 100%;
            min-height: 200px;
            border: 1px solid #d1d1d1;
            border-radius: .2em;
            margin: 0em;
        }
        
    }
}

